@inject NavigationManager Navigation
@inject IAuthService AuthService

<AuthorizeView>
    <Authorized>
        <span class="nav-link text-light">Hola, @context.User.Identity?.Name</span>
        <button class="nav-link btn btn-link" @onclick="BeginLogout">Cerrar Sesión</button>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginLogout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/");
    }
}